{% extends "base.html" %}
{% block title%} lookerr {% endblock %}

{% block body %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Device
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload_modal">
   Upload Certificate
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Device</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" enctype=multipart/form-data id="form1">
          <div class="modal-body">
            <p1>Device Name</p1><br>
            <input id="device_name" name="device_name"><br>
            <p1>Device IP Address</p1><br>
            <input id="device_ip" name="device_ip"><br>
            <p1>Device Operating System</p1><br>
    
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="Windows" value="Windows">
              <label class="form-check-label" for="flexRadioDefault1">
                Windows
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="Linux" value="Linux">
              <label class="form-check-label" for="flexRadioDefault2">
                Linux
              </label>
            </div>

            <p1>Login Credintials</p1><br>
            <label>Username</label><br>
            <input id="server_user" name="server_user"><br>
            <label>Password</label><br>
            <input id="server_password" name="server_password"><br>
            <br>
            <label>Filepath</label><br>
            <input id="filepath" name="filepath"><br>
            <label>SSL Certificate</label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="crt" name="crt">
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
  

  <div class="modal fade" id="upload_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Certificate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="post" enctype=multipart/form-data action="/upload_cert">
          
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="upload_cert1" name="upload_cert1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
    </div>
      </form> 
    </div>
  </div>
</div>







  

<div>
  
  {%for device in device_list%}
    <div class="device_main_display">
      <p>{{device.name}} - {{device.ip_address}} - {{device.os}} - {{device.device_user}} - {{device.filepath}} - {{device.ssl_cert}} - {{device.sync_status}} 
        <button type="button" class="btn btn-secondary" onclick="cert_check('{{device.id}}')">Check Cert</button> 
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalcert{{device.id}}">Manage Cert</button> 
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal{{device.id}}">View</button>
        
        {% if device.sync_status == true %}

        <img src="/static/green_checkmark20.png">Cert in sync
        
        {% else %}  
        
        <img src="/static/red_x20.png">Cert not in sync

        {%endif%}
      </p>
    </div>

    <div class="modal fade" id="exampleModal{{device.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Device</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" enctype=multipart/form-data>
            <div class="modal-body">
              <input id="{{device.id}}" name="id" hidden="true" value="{{device.id}}">
              <p1>Device Name</p1><br>
              <input id="device_name_update{{device.id}}" name="device_name_update" value="{{device.name}}"><br>
              <p1>Device IP Address</p1><br>
              <input id="device_ip_update{{device.id}}" name="device_ip_update" value="{{device.ip_address}}"><br>
              <p1>Device Operating System</p1><br>
              
              {% if device.os == "Windows"%}

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Windows_update{{device.id}}" value="Windows" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  Windows
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Linux_update{{device.id}}" value="Linux">
                <label class="form-check-label" for="flexRadioDefault2">
                  Linux
                </label>
              </div>
              {% else %}
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Windows_update{{device.id}}" value="Windows" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Windows
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Linux_update{{device.id}}" value="Linux" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Linux
                </label>
              </div>
              {%endif%}

  
              <p1>Login Credintials</p1><br>
              <label>Username</label><br>
              <input id="server_user_update{{device.id}}" name="server_user_update" value="{{device.device_user}}"><br>
              <label>Password</label><br>
              <input id="server_password_update{{device.id}}" name="server_password_update" value="{{device.device_password}}"><br>
              <br>
              <label>Filepath</label><br>
              <input id="filepath_update{{device.id}}" name="filepath_update" value="{{device.filepath}}"><br>
              <label>SSL Certificate: {{device.ssl_cert}}</label>
              
  
  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="update_devices('{{device.id}}')">Save changes</button>
            </div>
          </form> 
        </div>
      </div>
    </div>



 










    <div class="modal fade" id="exampleModalcert{{device.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Certificate Management</h1>
            
          </div>
          <div id="button_group{{device.id}}">
            <button type="button" onclick="filepath_select('{{device.id}}')">Assign Filepath</button>
            <button type="button" onclick="select_cert('{{device.id}}')">Assign Certificate</button>
            <button type="button" onclick="delete_cert('{{device.id}}')">Delete Certificate</button>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>

          <div class="hidden_selection" id="filepath_select{{device.id}}">
            <form method="post" enctype=multipart/form-data action="/upload_cert">
                <input value="{{device.id}}" id="cert_id" name="cert_id" hidden>
                <label >SSL Certificate: {{device.ssl_cert}}</label>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="close_modal('filepath_select{{device.id}}', '{{device.id}}' )">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
          </div>
              <div class="hidden_selection" id="select_cert{{device.id}}">
                  <form method="post" action="/select_cert">
                    <input value="{{device.id}}" id="cert_id" name="cert_id" hidden>
                    <label>SSL Certificate: {{device.ssl_cert}}</label>
                    <select class="form-select" aria-label="Default select example" name="cert_select">
                      <option selected>Assign Certificate</option>
                      {% for cert in  cert_list %}
                      <option value="{{cert}}">{{cert}}</option>
                      {% endfor %}
                    </select>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="close_modal('select_cert{{device.id}}', '{{device.id}}')">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
              <div class="hidden_selection" id="delete_cert{{device.id}}">
                <form method="post" action="/delete_cert">
                  <input value="{{device.id}}" id="cert_id" name="cert_id" hidden>
                  <label>Delete Certificate</label>
                  <select class="form-select" aria-label="Default select example" name="cert_select">
                    <option selected>Delete Certificate</option>
                    {% for cert in  cert_list %}
                    <option value="{{cert}}">{{cert}}</option>
                    {% endfor %}
                  </select>
                
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="close_modal('delete_cert{{device.id}}', '{{device.id}}')">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>





           
        </div>
      </div>
    </div>
























    
  {%endfor%}
</div>


















{% endblock %}