{% extends "authbase.html" %}
{% block title%} Login {% endblock %}
{% block body %}

<div class="center">
    <form method="POST">
        <label>E-mail</label>
        <input id="email_input" name="email_input">
        <br>
        <label>Password</label>
        <input id="password_input" name="password_input">
        <br>
        <button type="submit" class="btn btn-dark">Login</button>
        <br>
        <p>Don't have an account? <a href="/sign-up">Sign up here.</a></p>
        <br>
        
    </form>


</div>







{% endblock %}